@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Mono:ital,wght@0,500;0,700;1,500;1,700&display=swap');
body,
input {
    -apple-system,
    BlinkMacSystemFont,
    "Inter",
    "Roboto",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

code,
kbd,
.md-typeset code {
    font-family: "Roboto Mono", "SF Mono";
    font-weight: 500;
    font-size: 97%;
}

pre,
.md-typeset pre {
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 95%;
    font-weight: 400;
    background-color: transparent;
    white-space: pre-wrap;
}