@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Mono:ital,wght@0,500;0,700;1,500;1,700&display=swap');
body,
input {
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

code,
kbd,
.md-typeset code {
    font-family: "Roboto Mono", "SF Mono", Consolas, monospace;
    font-weight: 500;
    font-size: 97%;
}

pre,
.md-typeset pre {
    font-family: "Roboto Mono", "SF Mono", Consolas, monospace;
    font-size: 82%;
    font-weight: 400;
    background-color: transparent;
    white-space: pre-wrap;
}